{% extends 'base.html.twig' %}


	{% block body %}
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('login') }}" method="post">
            <label for="lastname">Lastname:</label>
            <input type="text" id="lastname" name="_lastname" value="{{ last_username }}" />

            <label for="firstname">Firstname:</label>
            <input type="text" id="firstname" name="_firstname" value="{{ last_username }}" />


            <button type="submit">login</button>
        </form>

    {% endblock %}
	{% block javascripts %}{% endblock %}
